* {
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    position: relative;
}

.hero-wrapper h2 {
    color: black;
    font-size: 10rem;
    text-transform: uppercase;

}

.hero-wrapper .hero-button {
    border: none;
    color: white;
    padding: 10px;
    background-color: #43cc47;
}

.green-stripes {
    width: 100%;
    transform: translateY(10px);
}


