 .news-p, .news-h2 {
     margin: 0;
     padding: 0;
 }
 
.newsletter-wrapping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #43cc47;
    padding: 2.5rem;
    margin-top: 2em;
}

.newsletter-wrapping .news-text-wrapper{
    max-width: 300px;
    margin: 0 auto;
}

.newsletter-wrapping h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 5.5em;
    text-transform: uppercase;
    line-height: 1em;
}

.newsletter-wrapping p {
    font-family: "Bebas Neue", cursive;
    font-size: 4em;
    text-transform: uppercase;
    color: white;
    line-height: 1em;
    margin-bottom: 10px;
}


.newsletter-wrapping input {
    background-color: white;
}


/* breakpoints -------------- */

@media screen and (min-width: 700px) {

    .newsletter-wrapping .news-text-wrapper{
        max-width: 1000px;
        margin: 0;
    }

    .newsletter-wrapping {
        flex-direction: column;
        gap: 2em;
    }

    .newsletter-wrapping h2 {
        font-size: 6.5em;
        line-height: .8em;
    }
    
    .newsletter-wrapping p {
        font-size: 5em;
        line-height: 1em;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1080px) {
    
    .newsletter-wrapping {
        flex-direction: row;
        gap: 2.5rem;
    }

    .newsletter-wrapping p {
        line-height: .7em;
    }
}